{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                // "version": "2023-11",
                "legacy": true
            }
        ],
        [
            "@babel/plugin-transform-class-properties",
            {
                "loose": true
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@/app": "./src/app",
                    "@/lib": "./src/lib",
                    "@/utils": "./src/utils"
                }
            }
        ],
        [
            "@babel/transform-runtime"
        ]
    ],
    "comments": false,
    "minified": true
}